.background {
    background-image: url('img/sp.gif');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Coda', cursive;
    font-size: 50px;
    color: #fff;
    text-align: center;
}

blockquote {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: black;
    height: 100px;
    padding: 20px 20px;
}

.poema {
    width: 1280px;
    display: block;
    margin: auto;
    background-color: #000;
    font-family: 'Coda', cursive;
}

.video {
    display: block;
    margin: auto;
    width: 1280px;
}

blockquote {
    font-size: 25px;
    color: ghostwhite;
    padding: 20px 20px;
}

.lista {
    background-color: #000;
    color: ghostwhite;
    font-size: 18px;
    font-family: 'Coda', cursive;
    width: 1280px;
    display: block;
    margin: auto;
}

.lista a {
    color: red;
    padding-left: 40px;
}

.lista h2 {
    font-family: 'Coda', cursive;
    font-size: 30px;
    color: #fff;
    text-align: left;
    padding-left: 40px;
}

.social {
    display: inline-block;
    margin: 30px auto;
}

#icons {
    text-align: center;
}


