body {
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

body p {
    color: #312c2c;
}

h1 {
    color: #0d1b97;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

.job-title {
    color: #898dbe;
    background-color: #1726ad;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}

#high {
    color: rgba(13, 27, 151)
}

ul {
    background-color: #333333;
    color: rgba(223, 215, 185);
    padding: 10px
}

