.background {background-image: url('img/bg.jpg');background-size: 900px; background-repeat: no-repeat; background-position-x: center;}
button { height:120px; width: 200px; padding: 2px 5px; border-radius: 6px; background-color: cadetblue; text-align: center;   margin: 0; position: absolute;top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);}
h1, h2 {text-align: center; color: #fff}
h1 {font-size: 30px;}
h2 {font-size: 25px;}